.root {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }
}
