@import "./reset.scss";

:root {
    --primary: #fe5f1e;
    --light-primary: #fe5d1e33;
    --text: black;
}

// .btn {
//     padding: 10px 20px;
//     border: 1px solid var(--primary);
//     border-radius: 20px;
//     color: var(--primary);
//     background-color: var(--light-primary);
//     transition: 0.3s;

//     &:hover {
//         background-color: var(--primary);
//         color: white;
//     }
// }

.btn {
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 20px;
    color: white;
    background-color: var(--primary);
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;

    &:hover {
        transform: scale(1.05);
    }
}
