@import "./reset.scss";

:root {
    --primary: #fe5f1e;
    --light-primary: #fe5d1e33;
    --text: black;
}

.btn {
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 20px;
    color: white;
    background-color: var(--primary);
    transition: 0.3s;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

#root {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding-bottom: 20px;
}
