@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-extrabold;
    }
    h2 {
        @apply text-xl font-bold;
    }
    h3 {
        @apply text-lg font-semibold;
    }
}

@layer components {
    .btn {
        @apply cursor-pointer rounded-3xl border-primary bg-primary px-5 py-2.5 font-semibold  text-white transition-all duration-300 hover:scale-[1.05];
    }
    svg {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding-bottom: 20px;
}
